<div class="row">
    <footer class="footer col-xs-24">
        <div class="footer-inner">
            <div class="footer-content logo col-xs-24 col-sm-9 col-md-9 col-lg-6">
                <h3>Ein Projekt von</h3>
                <a href="https://www.okfn.de/" target="_blank">
                    <img src="{{ site.baseurl }}/assets/img/static/logo-okfn.png" />
                </a>
            </div>
            <div class="footer-content logo col-xs-24 col-sm-9 col-md-9 col-lg-6">
                <h3>Partner</h3>
                <a href="https://www.bmfsfj.de/" target="_blank">
                    <img src="{{ site.baseurl }}/assets/img/static/logo-bmfsfj.png" />
                </a>

            </div>
            <div class="footer-content col-xs-24 col-sm-6 col-md-6 col-lg-6">
                <h3><a href="/kontakt">Kontakt</a></h3>
                <h3><a href="/impressum">Impressum</a></h3>
            </div>
        </div>
    </footer>
</div>


        <!-- js libs -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ site.baseur }}/assets/js/vendor/logger.min.js"></script>
        <script src="{{ site.baseur }}/assets/js/vendor/jquery.fitvids.js"></script>
        <script src="{{ site.baseur }}/assets/js/vendor/jquery.viewportchecker.js"></script>
        <script src="{{ site.baseur }}/assets/js/vendor/greensock/TweenLite.min.js"></script>
        <script src="{{ site.baseur }}/assets/js/vendor/greensock/easing/EasePack.min.js"></script>
        <script src="{{ site.baseur }}/assets/js/vendor/greensock/plugins/CSSPlugin.min.js"></script>

        <!-- js custom -->
        <script src="{{ site.baseurl }}/assets/js/modules/HeroQuotes.js"></script>
        <script src="{{ site.baseurl }}/assets/js/main.js"></script>

        <script>
            jQuery(document).ready(function($) {
                window.controller = new Controller($);
                window.controller.init();
            });
        </script>

</body>
</html>